#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 2,2,3,0
 PRODUCTVERSION 2,2,3,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Taureon\0"
            VALUE "FileDescription", "VST3 Plugin Scanner\0"
            VALUE "FileVersion", "2.2.3.0\0"
            VALUE "InternalName", "Vst3ProbeGui\0"
            VALUE "OriginalFilename", "Vst3ProbeGui.exe\0"
            VALUE "ProductName", "VST3 Plugin Scanner\0"
            VALUE "ProductVersion", "2.2.3.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
